.background {
    background-image: url(../images/blog-kitwe-background.jpeg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    
}
.background1 {
    background-image: url(../images/blog-contact.jpeg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.background2 {
    background-image: url(../images/blog-contact.jpeg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}