.background {
    background-image: url(../images/blog-kitwe-background.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}