.container {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.container2 {
    margin:5rem auto;
    max-width: 750px;
    padding: 1rem;

    h1 {
        color: blue;
    }
}